@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager navigationManager

<PageTitle>Logout</PageTitle>

<header>
    <h2>Du har logget ut</h2>
</header>

@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; }

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        if (HttpContext.User.Identity.IsAuthenticated) {
            await HttpContext.SignOutAsync();
            navigationManager.NavigateTo("/logout", true);
        }
    }
}
